#container {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-template-rows: 10vh 10vh auto 10vh;
    grid-template-areas: 
    "header header header"
    "nav-bar nav-bar nav-bar"
    "advert content content"
    "footer footer footer";
}

#header {
    background-color: rgb(190, 123, 74);
    grid-area: header;
}

#nav-bar {
    background-color: rgb(10, 87, 48);
    grid-area: nav-bar;
}

#advert {
    background-color: blueviolet;
    grid-area: advert;
}

#main-content {
    background-color: rgb(100, 58, 7);
    grid-area: content;
}

#footer {
    background-color: orange;
    grid-area: footer;
}