#page-container {
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-template-rows: 10vh 10vh auto 10vh;
    grid-template-areas: 
    "header header header"
    "nav-bar nav-bar nav-bar"
    "advert content content"
    "footer footer footer";
}

#header {
    background-color: rgb(190, 123, 74);
    grid-area: header;
}

#nav-bar {
    background-color: rgb(10, 87, 48);
    grid-area: nav-bar;
}

#advert {
    background-color: blueviolet;
    grid-area: advert;
}

#content {
    background-color: rgb(100, 58, 7);
    grid-area: content;
}

#content-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.sections-containers {
    display: flex;
    flex-direction: column;
}

.person-info {
    display: flex;
    margin-bottom: 20px;
}

.date {
    width: 100%;
    text-align: right;
    margin-right: 40px;
    margin-top: 0px;
}

.text {
    
}

#footer {
    background-color: orange;
    grid-area: footer;
}

hr {
    width: 95%;
    border: none;
    height: 5px;
    background-color: black;
    margin: 20px auto 20px;
}

img {
    height: auto;
    width: 100px;
}