#page-container {
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 150px 1fr 1fr 150px;
    grid-template-rows: 10vh 10vh auto auto 10vh;
    grid-template-areas: 
    "header header header header"
    "nav-bar nav-bar nav-bar nav-bar"
    "advert-left content content advert-right"
    "advert-left content content advert-right"
    "footer footer footer footer";
}

@media (max-width: 820px) {
    #page-container {
        grid-template-columns: 150px 1fr 1fr 100px;
        grid-template-areas: 
    "header header header header"
    "nav-bar nav-bar nav-bar nav-bar"
    "content content content advert-right"
    "content content content advert-left"
    "footer footer footer footer";
    }
    .person-info {
        flex-direction: column;
    }
    .date {
        text-align: left !important;
        margin-top: 10px !important;
    }
    .username-display {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
}

@media (max-width: 380px) {
    .text {
        font-size: 13px;
    }
    .topic {
        font-size: 15px !important;
    }
}

#header {
    background-color: rgb(190, 123, 74);
    grid-area: header;
}

#nav-bar {
    background-color: rgb(10, 87, 48);
    grid-area: nav-bar;
}

#left-advert {
    background-color: blueviolet;
    grid-area: advert-left;
}

#rightadvert {
    background-color: rgb(138, 11, 11);
    grid-area: advert-right;
}

#content {
    background-color: rgb(100, 58, 7);
    grid-area: content;
    border: 3px solid black;
}

#content-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.sections-containers {
    display: flex;
    flex-direction: column;
}

.person-info {
    display: flex;
    margin-bottom: 20px;
}

.date {
    width: 100%;
    text-align: right;
    margin-right: 10px;
    margin-top: 0px;
}

.topic {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 550;
}

.text {
    background-color: rgb(93, 66, 24);
    padding: 20px;
    border-left: 3px solid black;
    border-bottom-left-radius: 15px;
    border-right: 3px solid black;
    border-bottom-right-radius: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#footer {
    background-color: orange;
    grid-area: footer;
}

hr {
    width: 100%;
    border: none;
    height: 3px;
    background-color: black;
    margin: 20px auto 20px;
}

img {
    height: auto;
    width: 100px;
}